#entirePage{
		height:100%;
		width:100%;
		background:#E8DAEF;
}
#logo{
	height:15%;
		width:100%;
		background:#5B2C6F;
}

#body{
	height:75%;
		width:100%;
		background:#D2B4DE ;
}
#footer{
	height:10%;
	width:100%;
	background:black;
}
#filter{
	height:100%;
	width:10%;
	background:#8E44AD;
	float:left;
}
#productDisplay{
	height:100%;
	width:90%;
	background:white;
	float:left;
}